<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=utf-8>
  <title>Birthday greeter</title>
</head>
<body>
  <h1>Birthday greeter</h1>

  <form action="/greet">
    <input type="date" name="birthday" required pattern="\d{4}-\d{2}-\d{2}">

    <input type="submit" />
  </form>
</body>
</html>