<html>
  <head></head>
  <body>
    <h1>Albums</h1>

    <% @albums.each do |album| %>
        <div>
        Title: <a href='albums/<%= album.id %>'><%= album.title %></a>
        Released: <%= album.release_year %>
        # <a href='albums/<%= album.id %>'></a>
        </div>
    <% end %>


    <!-- ... -->
  </body>
</html>